# project envs
# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN="localhost"
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Environment: local, staging, production
ENVIRONMENT="local"

# Api
API_PREFIX="/hw_proxy"
SET_OPEN_API=true
SET_DOCS=true
SET_REDOC=true

# Project
PROJECT_NAME="OdooHwProxy"
STACK_NAME="full-stack-oddo-hw-proxy"

# Static Path
STATIC_BASE_PATH="/opt/fiesta-pos/hw_proxy/hw_proxy/app/static"
TEMPLATES_BASE_PATH="/opt/fiesta-pos/hw_proxy/hw_proxy/app/templates"

# Backend
BACKEND_HOST="http://192.168.1.146:9000"
FRONTEND_HOST="http://192.168.1.146:9001"
BACKEND_CORS_ORIGINS="http://192.168.1.146:9000,https://192.168.1.146:9000,http://192.168.1.146:9001,https://192.168.1.146:9001"
SECRET_KEY="changethis"

# Set printer device key
# must be valid key 
# from fiesta_pos/hw_proxy/hw_proxy/core/supported_devices.py
PRINTER_KEY="PP6800"

# Logger log_level
LOG_LEVEL="Debug"