# Main compose variables — rename to .env
DB_HOST="fiesta_db"
DB_DATABASE="odoo"
DB_USER="odoo"
DB_PASSWORD="changethis"

# IP of the host machine (used for Odoo fonts workaround)
HOST_IP="192.168.1.146"
