<div class="col-lg-4 d-flex flex-column">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title h5 mb-3">Estado de Servicios</h2>
            <div class="service-status-container">
                <p><span id="dockerStatusDot" class="status-dot status-gray"></span>Servicio Docker: <strong
                        id="dockerStatusText">Desconocido</strong></p>
                <p><span id="hwProxyStatusDot" class="status-dot status-gray"></span>Servicio hw_proxy: <strong
                        id="hwProxyStatusText">Desconocido</strong></p>
            </div>
        </div>
    </div>
</div>