<ul class="nav nav-tabs mb-3" id="mainTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="hardware-tab" data-bs-toggle="tab" data-bs-target="#hardware-tab-pane"
            type="button" role="tab" aria-controls="hardware-tab-pane" aria-selected="true">
            <i class="fas fa-cogs me-1"></i>Hardware
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="system-tab" data-bs-toggle="tab" data-bs-target="#system-tab-pane" type="button"
            role="tab" aria-controls="system-tab-pane" aria-selected="false">
            <i class="fas fa-server me-1"></i>Sistema
        </button>
    </li>
</ul>