[Unit]
Description=Odoo POS Docker Compose Stack
Requires=docker.service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/Odoo_rafa/docker-compose/odoo_prod
ExecStart=/bin/sh -c "/usr/libexec/docker/cli-plugins/docker-compose up -d --remove-orphans"
# ExecStop=/bin/sh -c "/usr/libexec/docker/cli-plugins/docker-compose stop"
# Restart=on-failure
# TimeoutStartSec=600
# RestartSec=10

[Install]
WantedBy=multi-user.target